/* Estilos para o corpo do documento */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa;
    color: #333;
  }
  
  .navbar {
    padding: 0.5px 0; /* Espaçamento interno */
  }
  
  .navbar-toggler {
    border: none; /* Remover borda padrão do botão */
  }
  
  .navbar-toggler-icon {
    background-color: white; /* Cor do ícone do menu */
  }
  
  .navbar-nav .nav-link {
    font-size: 1.1rem; /* Tamanho da fonte */
    padding: 0.5rem 1rem;
    transition: color 0.3s; /* Transição suave de cor */
  }
  
  .navbar-nav .nav-link:hover {
    color: #ffffff; /* Cor do texto ao passar o mouse */
  }
  
  .navbar-brand {
    font-size: 1.0rem; /* Tamanho da fonte do brand */
    font-weight: bold;
  } 
  
  /* Seções */
  .section {
    padding: 100px 0;
  }
  
  .section-title {
    font-size: 2.5rem;
    margin-bottom: 40px;
  }
  
  /* Seção Início */
  .home-section {
    background-image: url('./Fundo.jpg');
    background-size: cover;
    background-position: center;
    color: rgb(248, 248, 250);
    text-align: center;
    padding:300px 0;
  }
  
  .home-section h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
  }
  
  /* Cards do Portfolio */
  .portfolio-item {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
  }
  
  .portfolio-item img {
    transition: transform 0.3s ease;
  }
  
  .portfolio-item:hover img {
    transform: scale(1.1);
  }
  
  .portfolio-item-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 15px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .portfolio-item:hover .portfolio-item-info {
    opacity: 1;
  }
  
  .portfolio-item-info h4 {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
  
  .portfolio-item-info p {
    font-size: 1.1rem;
  }
  
  /* Formulário de Contato */
  .form-control {
    margin-bottom: 15px;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  
  /* Rodapé */
  footer {
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
    padding: 15px 0;
  }
  

  /* Importação da fonte do Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

/* Estilos para o SVG */
svg {
  font-family: "Russo One", sans-serif; /* Aplica a fonte ao SVG */
  width: 100%;
  height: 100%;
}

svg text {
  animation: stroke 9s infinite alternate; /* Aplica a animação stroke ao texto */
  stroke-width: 2; /* Largura do traço */
  stroke: rgb(250, 249, 249); /* Cor do traço (alterado para branco) */
  font-size: 55px; /* Tamanho da fonte do texto */
}

/* Animação stroke */
@keyframes stroke {
  0% {
    fill: rgba(90, 78, 204, 0); /* Preenchimento transparente */
    stroke: rgb(16, 49, 218); /* Cor do traço */
    stroke-dashoffset: 25%; /* Deslocamento do traço */
    stroke-dasharray: 0 50%; /* Tamanho do traço */
    stroke-width: 2; /* Largura do traço */
  }
  70% {
    fill: rgba(90, 78, 204, 0); /* Preenchimento transparente */
    stroke: rgb(7, 23, 241); /* Cor do traço */
  }
  80% {
    fill: rgba(90, 78, 204, 0); /* Preenchimento transparente */
    stroke: rgb(244, 244, 248); /* Cor do traço */
    stroke-width: 3; /* Largura do traço */
  }
  100% {
    fill: rgb(241, 240, 245); /* Preenchimento com cor */
    stroke: rgba(9, 24, 255, 0); /* Traço transparente */
    stroke-dashoffset: -25%; /* Deslocamento invertido do traço */
    stroke-dasharray: 50% 0; /* Tamanho do traço */
    stroke-width: 0; /* Sem traço */
  }
}
